@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-vibes: var(--font-great-vibes);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dela-gothic);
}

/* Основной контейнер индикаторов */
.carousel {
  width: 100vw;
  height: 100vh;
  background: url('/carback.jpg') no-repeat center / cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ant-carousel {
  width: 350px;
  margin: 0 auto;
}

.ant-carousel .slick-dots {
  bottom: -30px;
  /* переместить ближе к низу или дальше */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

/* Каждая точка */
.ant-carousel .slick-dots li {
  margin: 0 4px;
  width: 22px;
  height: 22px;
}

/* Кнопка внутри точки */
.ant-carousel .slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: green;
  /* неактивный цвет */
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Активная точка */
.ant-carousel .slick-dots li.slick-active button {
  background: red;
  /* или любой ваш цвет */
}
